docs/Manual.pdf
docs/Developer.pdf
*.log
*.aux
*.out
*.toc
*.swp
*.4ct
*.4tc
*.dvi
*.idv
*.tmp
*.lg
*.html
*.css
*.xref
*.zip
__pycache__/
pylux.egg-info/
x.tex
build/
dist/
MANIFEST
*.pyc
*.olp
tests/*
.idea/
